@import "tailwindcss";

html,
body,
#root {
  @apply box-border bg-black text-white;
}

@theme bgcol {
  --color-main-bg: #0d1117;
  --color-col-bg: #161c22;
}

::--webkit-scrollbar {
  width: 4px;
}

::--webkit-scrollbar-horizontal {
  height: 8px;
}

::--webkit-scrollbar-thumb {
  @apply rounded-xl bg-rose-800;
}
